@import "responsive.css";
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #85827e;
}
#search {
  float: right;
  padding: 10px;
  border-radius: 10%;
}
#iconsearch {
  color: white;
  font-size: 14px;
}

/* ---------------------------------------------------------*/
/* PAGE ACCEUIL ************************************************************************************************ */
#titre {
  background-image: url(https://cap.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fcap.2F2020.2F07.2F01.2F8e99ec2f-65b1-48ec-89da-fe4083918cb4.2Ejpeg/1200x630/background-color/ffffff/quality/70/comment-santevet-est-devenu-le-leader-de-lassurance-pour-animaux-de-compagnie-1375671.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 50px;
  height: 500px;
  color: white;
  font-weight: bold;
  position: center;
  text-align: center;
  padding: 1em;
  margin: 0px auto;
  background-color: #000000;
}

.button {
  background-color: #333333;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;

  border: 1px solid black;
  border-radius: 10px;
}
.button:hover {
  background-color: #85827e;
  color: white;
  transform: skew(7deg);
}

#deux {
  height: taille_fixe px;
  width: 100%;
  overflow: hidden;
}

#gauche {
  width: 50%;
  height: 100%;
  float: left;
  color: #c98702;
  font-size: large;
  text-align: center;
}

#droite {
  width: 50%;
  height: 100%;
  float: right;
  font-size: large;
  color: #c98702;
  text-align: center;
}
#textedeux {
  color: #ada26f;
}
h4 {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

#icon {
  font-size: 65px;
  color: #6c9171;
  animation-duration: 3s;
  animation-name: slidein;
}
#icon:hover {
  transform: scale(1.2);
  color: #ada26f;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*#bandenoir{
    background-color: #333;
    color: #333;
    font-size: 45px;
    background-size: 450px; 
} */
#imgchat {
  background-image: url(https://www.la-spa.fr/app/assets-spa/uploads/2021/09/chaton-deskop-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 605;
  height: 265px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 58px;
  text-align: center;
  background-color: #000000;
}
#questadopter {
  color: #c98702;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

#trois {
  height: taille_fixe px;
  width: 100%;
  overflow: hidden;
  background-color: beige;
  padding: 0%;
}
#adopt {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}
#donne {
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
}

#butadopter {
  display: inline-block;
  background-color: #6c9171;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#butdonner {
  display: inline-block;
  background-color: #6c9171;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#butdonner:hover {
  background-color: #ada26f;
  transform: scaleX(1.1);
}

#butadopter:hover {
  background-color: #ada26f;
  transform: scaleX(1.1);
}

#quatre {
  height: taille_fixe px;
  width: 100%;
  overflow: hidden;
}
#donimage {
  width: 50%;
  height: 100%;
  float: left;
  text-align: right;
}
#don {
  width: 50%;
  height: 100%;
  float: right;
  color: #ada26f;
}

#textdon {
  color: #c98702;
  font-weight: bold;
  font-size: 35px;
}

#chien {
  width: 500px;
  height: 400px;
  float: left;
  position: relative;
  left: 25%;
}
#butdon {
  border-radius: 10%;
  background-color: #6c9171;
  color: white;
  border-color: #333;
  border-width: 1px;
  padding: 15px 32px;
  font-size: 15px;
}
#butdon:hover {
  background-color: #ada26f;
  transform: scale(1.1);
}

/* ********************************************************************************************************************* */

/*  PAGE INFORMATIONS ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
#h2info {
  font-size: xx-large;
  font-weight: bold;
  color: #c98702;
  text-align: center;
  background-color: #333;
}
#pcon {
  font-weight: bold;
  font-size: 19px;
  color: #c98702;
}
#pcondi {
  color: #ada26f;
}
#butinfo {
  background-color: #c98702;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  box-shadow: 0 0 0.3rem 0.3rem #c98702;
  box-sizing: border-box;

  border: 1px solid black;
  border-radius: 10px;
}
#butinfo:hover {
  background-color: #ada26f;
  color: #333;
  box-shadow: 0 0 0.3rem 0.3rem #ada26f;
  box-sizing: border-box;
  transform: scale(1.1);
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* PAGE NOUS TROUVER ///////////////////////////////////////////////////////////////////////////////////////////////////     */

#lieu {
  width: 100%;
  overflow: hidden; /* IMPORTANT  */
}
#gauchelieu {
  width: 50%;
  height: 100%;
  float: left;
  color: #819ea2;
  text-align: right;
}

#droitelieu {
  width: 50%;
  height: 100%;
  float: right;
  color: #819ea2;
}
.imagelieu {
  padding: 0px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 4px;
  width: 350px;
  display: block;
}
#h1lieu {
  font-size: xx-large;
  font-weight: bold;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* PAGE CONTACT %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/*  FORMULAIRE */

#formcontact {
  background-color: #819ea2;
  padding: 10px;
  width: 280px;
  float: center;
}

#h2form {
  text-align: left;
  color: #c98702;
}
#butform {
  border-radius: 10%;
  background: #c98702;
  color: white;
  border-color: white;
  border-width: 2px;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow: none;
}
#h2reseau {
  color: #c98702;
}
#cinq {
  height: taille_fixe px;
  width: 100%;
  overflow: hidden;
}
#formdiv {
  width: 50%;
  height: 100%;
  float: left;
  text-align: left;
}
#reseaux {
  width: 50%;
  height: 100%;
  float: right;
  color: #ada26f;
}
#iconfb {
  color: #3b5998;
  font-size: 60px;
}
#iconinst {
  color: #8a3ab9;
  font-size: 60px;
}
#icontw {
  color: #1da1f2;
  font-size: 60px;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.footercontact {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
.footermap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
.footerinfo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
body {
  height: 100%;
}
#main {
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

html {
  display: block;
  height: 100%;
}

@media (max-width: 412px) {
  .navbar {
    display: block;
  }
  ul {
    display: block;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  ul.collapse {
    display: none !important;
  }
  ul > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #search {
    padding: 10px 29%;
    float: none;
  }
  #iconsearch {
    position: absolute;
    left: -999em;
  }
  h4 {
    font-size: 20px;
  }
  #droite {
    font-size: small;
  }
  #gauche {
    font-size: small;
  }
  #icon {
    font-size: 30px;
  }
  #questadopter {
    font-size: 24px;
  }
  #butdonner {
    width: 125px;
    font-size: 18px;
  }
  #butadopter {
    width: 120px;
    font-size: 18px;
  }
  #chien {
    width: 160px;
    height: 140px;
    position: relative;
    left: 6%;
  }
  #textdon {
    font-size: small;
  }
  #don {
    font-size: smaller;
  }
  #butdon {
    font-size: 8px;
  }
  #pcon {
    font-size: 16px;
  }
  #formdiv {
    float: none;
  }
  #reseaux {
    float: none;
  }
  #gauchelieu {
    float: none;
    text-align: left;
  }
  #droitelieu {
    float: none;
  }
  .footercontact {
    position: relative;
  }
  .footermap {
    position: relative;
  }
  .footerinfo {
    position: relative;
  }
  #h2info {
    font-size: 20px;
  }
  #pcondi {
    font-size: 13px;
  }
  #butinfo {
    font-size: 15px;
  }
  #h2form {
    font-size: 17px;
  }
  #h2reseau {
    font-size: 17px;
  }
  #iconfb {
    font-size: 35px;
  }
  #iconinst {
    font-size: 35px;
  }
  #icontw {
    font-size: 35px;
  }
}
